<h1>All Products</h1>

<div class="row">

	<% @products.each do |product| %>
	    <div class="card col-md-4">
	        <%= image_tag product.image.url(:medium, {:class => 'product_image_smaller' }) %>
	        <div class="card-body">
	            <h4 class="card-title"><%= product.title %></h4>
	            <p class="card-text"><%= product.description %></p>
	            <p class="card-text"><%= number_to_currency(product.price) %></p>
	            <p class="card-text">Inventory: <%= product.quantity %></p>
	        </div>
	        <div class="card">
	            <ul class="list-group list-group-flush">
	             
	                <%= link_to "View Details", product_path(product), class: "list-group-item" %>
	            </ul>
	        </div>
	    </div>
	<% end %>

</div>