<!-- TITLE HEADER -->
<h1><%= @product.title %></h1>


<!-- DESCRIPTION -->
<p>
	Description: <%= @product.description %>
</p>


<!-- PRICE -->
<p>
	Price: <%= number_to_currency(@product.price)  %>
</p>


<!-- LOCAL DELIVERY -->
<% if @product.local_delivery %>
	<p>
		Available for local delivery in <%= @product.city_sold_from %> only.<br>
	</p>
<% else %>
	<p>
		This product is not available for local delivery.
	</p>
<% end %>


<!-- IMAGE -->
<p>
	<%= image_tag @product.image.url(:medium) %>
</p>

<!-- SOLD NUMBERS -->
<p>
	Amount Sold: <%= @product.sold %> <br>
	Units Available: <%= @product.quantity %>
</p>

<!-- OPTIONS -->
<td><%= link_to 'Edit', edit_product_path(@product) %></td>
<td><%= link_to 'Delete', @product,
              method: :delete,
              data: { confirm: 'Are you sure? This will remove the product from the marketplace.'} %></td>
