<%= form_with(model: @payment_type) do |form| %>

    <% if @payment_type.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@payment_type.errors.count, "error") %> prohibited this payment type from being saved:
            </h2>
            <ul>
                <% @payment_type.errors.full_messages.each do |msg| %>
                    <li>
                        <%= msg %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <% end %>

            <p>
                <%= form.label :title %><br>
                    <%= form.text_field :title %>
            </p>

            <p>
                <%= form.label :account_number %><br>
                    <%= form.text_area :account_number %>
            </p>

            <p>
                <%= form.submit %>
            </p>
            <% end %>